:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%; // base size 100% usually means 16px
}

body {
    background-color: var(--light);
}

.card-nav {
    list-style: none;    
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.card-nav li {
    border: 1px solid var(--teal);
    padding: 0.3rem 1.2rem;
}

.card-nav li a:hover{
    color: var(--coral);
    background-color: var(--teal);
}

.card-nav li a{
    color: var(--teal);
    text-decoration:none;
}


.menulink {
    font-size: 0.75rem;
    text-decoration:none;
    color: var(--teal);
}

h1 {
    font-family: "Sofia", sans-serif;    
    font-size: 2.25rem;
    color:#D8A47F
}

.p {
    font-size: 0.75rem;
}

.card-container {
    font-size: 1.5rem;
    display: flex ;
    justify-content:center;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}

.card {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.2rem solid #D8A47F;
    border-radius: 0.5rem;
}

img {
    width: 250px;
}

@media screen and (max-width: 1000px) {

    h1 {
        font-family: "Trirong", serif;
        font-size:3.5rem;
    }

    .card-container {
        font-size: 1.5rem;
        display: flex ;
        justify-content:center;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }  

    .card {
        padding: 2rem;
        margin: auto;
    }    
    
}

@media screen and (max-width: 700px) {

    h1 {
        font-family: "Sofia", sans-serif;        
        font-size: 5rem;
    }


    .card-container {
        font-size: 1.5rem;
        display: flex ;
        flex-direction: column;
        margin: auto;
        margin-top: 2rem;
    } 

    .card {
        padding: 1rem 1rem;
        margin: auto;
    }

}
